@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

@theme {
  --animate-fade-in: fade-in 0.7s ease-out;
  --animate-zoom-in: zoom-in 0.7s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes zoom-in {
    from {
      transform: scale(0.95);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}